
.header {
    background-color: hsl(355, 73%, 46%);   
    display: flex;
    justify-content: space-between;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items:center;
    padding: 0px;
    
}
.navbar-links ul{
 display: flex;
 margin: 0px;
 padding: 0px;

}
.navbar-links li {
    list-style: none;
}
.navbar-links li a {
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    display: block;
    margin: 5px;
}
.navbar-links li:hover {
    background-color: tomato;
}

.logo {
 margin-left: 20px;
 font-size: 2rem;

}

.header-img {
    width: 100%;
}

.toggle-button {
    display: none;
    flex-direction: column;
    position: absolute;
    width: 30px;
    height: 21px;
    top: 20px;
    right: 10px;
    justify-content: space-between;
}
.toggle-button .bar{
    background-color: white;
    height: 3px;
    border-radius: 50px;
    width: 100%;
    
}

@media (max-width: 768Px) {
    .navbar-links li a {
        padding: 10px 20px;
    }
}

@media (max-width: 576Px) {
  .toggle-button{
      display: flex;
  }
  .navbar-links{
      /* display: none */
      width: 100%;
  }

  .header{
      flex-direction: column;
       align-items: flex-start;
  }
  .navbar-links ul{
      flex-direction: column;
  }
  .navbar-links ul li {
      text-align: center;
  }
.navbar-links ul li a{
    padding: 3px;
}

}
